@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #e8e8e8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='382' height='382' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23BBBBBB' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ee7b24'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #e8e8e8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='382' height='382' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23BBBBBB' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ee7b24'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}

.main {
  display: flex;
}

.banner {
  background: #555;
  color: #ddd;
  background-image: url("../images/banner.jpg");
  background-position: center;
  min-width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  background-color: #555;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.8;
}
.banner .text {
  margin: 2rem;
  z-index: 1;
}
.banner .text h3 {
  color: #ee7b24;
}
.banner .button {
  background-color: #ee7b24;
  color: #ddd;
  margin: auto 2rem;
  border: none;
  height: 3rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  z-index: 1;
}
.banner .button:active {
  transform: translate(1px, 1px);
}
@media screen and (max-width: 420px) {
  .banner {
    flex-direction: column;
  }
  .banner .button {
    margin: 0 2rem 2rem 2rem;
  }
}

nav {
  background-color: #555;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li.active {
  background-color: #ee7b24;
}
nav ul li.active a {
  color: #222;
}
nav ul li a {
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}
nav ul li a:hover::after {
  transform: scaleY(1);
  transform-origin: bottom;
}
nav ul li a::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 300ms ease-in-out;
}
nav ul .right {
  float: right;
}
@media screen and (max-width: 500px) {
  nav ul {
    overflow: visible;
  }
  nav ul li {
    float: none;
  }
  nav ul li.right {
    float: none;
  }
}

.card {
  display: inline-block;
  position: relative;
  background-color: #555;
  margin: 1rem 0.5rem;
}
.card:first-of-type {
  margin-left: 1rem;
}
.card:last-of-type {
  margin-right: 1rem;
}
.card img {
  width: 100%;
  filter: saturate(10%);
}
.card .content {
  position: absolute;
  bottom: 0.25rem;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.card .content h3 {
  color: #ee7b24;
  margin: 0.25rem 2rem;
}
.card .content p {
  font-size: 115%;
  margin: 0.25rem 2rem 0.75rem 2rem;
}
.card .content ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 2rem 1rem 2rem;
}
.card .content ul li:first-of-type a::before {
  content: "";
}
.card .content ul li:last-of-type a::after {
  content: "";
}
.card .content ul li a::after {
  content: " | ";
  color: #ddd;
}
.card .content ul li a::before {
  content: " | ";
  color: #ddd;
}
.card .content ul li a {
  color: white;
  text-decoration: none;
}
.card .content ul li a:hover {
  color: #ee7b24;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  transform: scaleY(0);
  background-color: #ee7b24;
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}
.card:hover::after {
  transform: scaleY(1);
}
@media screen and (max-width: 768px) {
  .card {
    margin: 1rem 3rem !important;
    padding: 0;
  }
  .card img {
    width: 100%;
  }
  .card .content {
    margin: 0;
    padding: 0;
  }
  .card .content * {
    margin: 0;
    padding: 0;
  }
}

.post {
  display: inline-block;
  width: 50vw;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 1px solid #555;
  background-color: #fff;
}
.post .title {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #555;
}
.post .title * {
  margin: 0;
}
.post .title .accent {
  color: #ee7b24;
}
.post ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.post ul li:first-of-type::before {
  content: "";
}
.post ul li:last-of-type::after {
  content: "";
}
.post ul li::after {
  content: " | ";
  color: #ddd;
}
.post ul li::before {
  content: " | ";
  color: #ddd;
}
.post .content {
  padding: 1rem 3rem;
  border-block: 1px solid #555;
  line-height: 1.75;
}
.post .footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.post .footer * {
  margin: 0;
}
@media screen and (max-width: 600px) {
  .post .content {
    padding: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .post .content {
    padding: 1rem 0;
  }
}

footer {
  color: #222;
  background-color: #555;
  margin-top: auto;
}
footer .row {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .row.top {
  flex-direction: row;
  justify-content: space-around;
  color: #ddd;
  padding-top: 1rem;
}
footer .row.top .col {
  display: flex;
  max-width: 30vw;
  width: 100%;
  text-align: left;
  justify-content: space-between;
}
footer .row.top .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .row.top .col ul li {
  padding: 0.1rem;
}
footer .row.top .col ul li.title {
  color: #ee7b24;
  font-size: 110%;
  font-weight: bold;
  padding: 0.5rem;
}
footer .row.top .col ul li a {
  color: #ddd;
  text-decoration: none;
}
footer .row.top .col ul li a:active {
  color: #ee7b24;
}
footer .row.top .col.desc {
  flex-direction: column;
}
footer .row.top .col.desc h3 {
  margin: 0;
  padding: 0.5rem;
  color: #ee7b24;
}
footer .row.top .col.desc p {
  margin: 0;
}
footer .row .socials ul {
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 200%;
  margin: 0;
  justify-content: center;
}
footer .row .socials ul li {
  padding-inline: 1rem;
}
footer .row .socials ul li a {
  color: #222;
}
footer .row .socials ul li a:active {
  color: #ee7b24;
}
@media screen and (max-width: 500px) {
  footer footer .row.top {
    display: block;
    margin-block: 0.25rem;
  }
  footer footer .row.top .col {
    max-width: 100vw;
    margin: 0;
    justify-content: space-around;
  }
  footer footer .row.top .col.desc h3, footer footer .row.top .col.desc p {
    padding-inline: 2rem;
  }
}

.hoverEffect {
  box-shadow: 2.5px 5px 10px #555;
  transform-origin: center;
  transition: transform 100ms ease-in-out;
}
.hoverEffect:hover {
  transform: scale(1.01);
  box-shadow: 5px 10px 10px #555;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }
}/*# sourceMappingURL=main.css.map */