@import "../themes/defaultTheme";

.main {
  display: flex;
}
.banner {
  @include banner(
    "../images/banner.jpg",
    70vw,
    $clr-gray,
    $clr-accent,
    $font-white
  );
}

nav {
  @include navBar($clr-gray, $clr-accent, $font-white, $font-dark);
}
.card {
  @include card($clr-gray, $clr-accent, $font-white);
}
.post {
  @include post($clr-gray, $clr-accent, $clr-white, $font-white);
}
footer {
  @include footer($clr-gray, $clr-accent, $font-white, $font-dark);
}
.hoverEffect {
  @include hover($clr-gray);
}
@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }
}
